<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Santa Catarina - Brasil</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+55 48 90000-0000</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:iudizm@pm.me">iudizm@pm.me</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://iudizm.github.io">iudizm.github.io</a></li>
  </ul>
</div>
